.entire-page {
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.by-name {
    margin-right: 10px;
    font-size: 16px;
}

.about-me-links {
    margin-left: 10px;
}

.title {
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #2f574c;
}

.header-link {
    transition: all 0.3s ease-in;
}

.header-link:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in;
}

.header-link > img {
    height: 27px;
    width: 27px;
    margin-right: 10px
}

.horizontal-line {
    border-top: 1px solid #2f574c;
    width: 50%;
    margin: 0 auto;
}